<a routerLink="/WeatherCountryList">Go to the Country List</a>
<h2>City : {{city}}</h2>
<div class="cityList">
    <div *ngFor="let data of filterData" class="cityListItems">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{data?.dt_txt | date}}</mat-card-title>
                <mat-card-subtitle>{{data?.dt_txt | date:'shortTime'}}</mat-card-subtitle>
                <mat-card-subtitle>{{data?.main.temp_max}} celcius</mat-card-subtitle>
                <mat-card-subtitle>Sea Level {{data?.main.sea_level}} feet </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>